/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    background-color: #d6ebff;
}
h2{
    background-color: #33b4ec ;
    color: #fff;;
    position: relative;
    overflow: hidden;
    top: -40px;
    width: 1410px;
    height: 120px;
    font-size: 70px;
    font-family: 'Bangers', cursive;
    text-align: left;
    padding-left: 10px;
}
h2:before{
    background-color: #fff;
    border-radius: 100px 100px 0 0;
    content: '';
    display: block;
    opacity: 0.6;
    position: absolute;
    bottom: -1px;
    left: 500px;
    width: 200px;
    height: 100px;
}
h2:after{
    background-color: #fff;
    border-radius: 50px 50px 0 0;
    content: '';
    opacity: 0.6;
    position: absolute;
    bottom: -1px;
    left: 680px;
    display: block;
    width: 100px;
    height: 50px;
}
/*table*/
table{
    position: relative;
    width: 95%;
    margin: 0 auto;
    border: solid;
    top: 0%;
    border-collapse: collapse;
    background-color: white;
}
td,th{
    text-align: center;
    border: solid;
    border-color: black;
    table-layout:fixed;
    width: 110px;

}
td.title{
    background-color: rgb(31, 60, 98);
    color:  white;
}
td.midasi{
    background-color:rgb(61, 90, 128);
    color:  white;
}
td.amount{
    text-align: right;
}

thead.unrecorded,tbody.unrecorded{
    display:block;
}
tbody.unrecorded{
    overflow-y:scroll;
    height:515px;
}
thead.should,tbody.should{
    display:block;
}
tbody.should{
    overflow-y:scroll;
    height:148px;
}

/*main*/
div.main{
    position: absolute;
    top: 150px;
    left: 10px;
    height:650px;
    width: 1150px;
    background-color: rgb(120, 228, 252);
    border: solid;

}
div.main_left{
    position: relative;
    width: 50%;
    left:0%;
    top: -90%;
    height: 90%;
    /*background-color: white;*/

}
div.main_right{
    position: relative;
    width: 50%;
    left:50%;
    top: 0%;
    height: 90%;
    /*background-color: blue;*/

}
/*side*/
div#side_menu{
    background-color: rgb(120, 228, 252);
    width: 250px;
    height: 650px;
    right: 10px;
    top: 150px;
    border: solid;
    position: absolute;
}

div.menu_bar{
    background-color: white;
    width: 95%;
    margin: 0 auto;
    border: solid;
    margin-bottom: 10%;
}
div.money_box{
    background-color: white;
    width: 95%;
    margin: 0 auto;
    border: solid;
    margin-bottom: 10%;
    position: relative;
}
.strong{
    font-size: 20px;
}
.image{
    position:absolute;
    left: 10px;
    top: 0px;
}
.money_text{
    position:relative;
    width: 60%;
    height: 60%;
    right: -30%;
    top: -30%;
    text-align: right;
}
#wallet{
    position: relative;
    margin-bottom: 10%;
}
#bank{
    position: relative;
    margin-bottom: 10%;
}

div.this_month{
    background-color: white;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 2%;
    border: solid;
    position: relative;
}
#spending{
    position: relative;
    margin-bottom: 5%;
    width: 95%;
    border-bottom: solid;
    margin: auto;
    margin-bottom: 3%;
    padding-bottom: 10%;
}
#income{
    position: relative;
    margin-bottom: 5%;
    width: 95%;
    margin: auto;
    margin-bottom: 10%;
}
#sum{
    position: relative;
    margin-bottom: 5%;
    width: 95%;
    margin: auto;
    margin-bottom: 2%;
}


/*bar*/
div.bar{
    background-color: rgb(31, 60, 98);
}
p.bar_title{
    text-align: center;
    color: white;
    margin-top: 0px;
}

/*modal*/

.modal-main {
    display: none;
    width: 700px;
    height: 300px;
    background-color: #ffffff;
    color: #666666;
    position:fixed;
    z-index: 2;
    padding: 0.2em 0.5em;
    margin: 2em 0;
    background: #d6ebff;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border: dashed 2px white;
}
/* モーダル 背景エリア */
.modal-bg {
    display:none;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    left:0;
    z-index: 1;
}
/*その他*/
.message{
    text-align: center;
    font-size: 20px;
}
.return{
    position: absolute;
    right: 10%;
    bottom: 10%;
}
.content{
    position: absolute;
    right: 15%;
    width: 50%;
}
.button{
    position: absolute;
    width: 100px;
    right: 60%;
}
.link::after,
.link::before {
  display: block;
  content: '';
  position: absolute;
}
.link::after {
  top: 9px;
  left: -1em;
  width: 6px;
  height: 6px;
  border-right: 2px solid rgb(86, 189, 233);
  border-bottom: 2px solid rgb(86, 189, 233);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.link::before {
  top: 12px;
  left: -1.025em;
  width: 8px;
  height: 2px;
  background-color: rgb(86, 189, 233);
}

.link{
    background: linear-gradient(transparent 70%, rgb(86, 189, 233) 0%);
    position: relative;
    margin-left: 15%;
    margin-bottom: 5%;
    margin-top: 0%;
    text-align: center;
    display:inline-block;

}
