/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    background-color: rgb(111, 246, 136);
}
/*table*/
table{
    position: relative;
    width: 95%;
    margin: 0 auto;
    border: solid;
    top: 0%;
    border-collapse: collapse;
    background-color: white;
}
td,th{
    text-align: center;
    border: solid;
    border-color: black;
}
td.title{
    background-color: rgb(61, 74, 69);
    color:  white;
}
th{
    background-color:rgb(147, 153, 146);
}
/*main*/
div.main{
    position: absolute;
    left: 270px;
    height:600px;
    width: 1150px;
    background-color: rgb(96, 227, 228);
    border: solid;

}
div.main_left{
    position: relative;
    width: 50%;
    left:0%;
    top: -90%;
    height: 90%;
    /*background-color: white;*/

}
div.main_right{
    position: relative;
    width: 50%;
    left:50%;
    top: 0%;
    height: 90%;
    /*background-color: blue;*/

}
/*side*/
div#side_menu{
    background-color: rgb(107, 235, 219);
    width: 250px;
    height: 790px;
    border: solid;
    position: absolute;
}

div.menu_bar{
    background-color: rgb(171, 247, 26);
    width: 95%;
    margin: 0 auto;
    border: solid;
    margin-bottom: 10%;
}
div.money_box{
    background-color: rgb(222, 129, 31);
    width: 95%;
    margin: 0 auto;
    border: solid;
    margin-bottom: 10%;
}
div.balance{
    background-color: rgb(63, 160, 186);
    width: 95%;
    margin: 0 auto;
    border: solid;
    margin-bottom: 10%;
}
div.last_month{
    background-color: white;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 10%;
    border: solid;
}
div.this_month{
    background-color: white;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 10%;
    border: solid;
}
/*footer*/
div.footer{
    border: solid;
    background-color: white;
    position: absolute;
    top: 620px;
    left: 270px;
    width: 1150px;
    height: 179px;
}
/*bar*/
div.bar{
    background-color: rgb(61, 74, 69);
}
p.bar_title{
    text-align: center;
    color: white;
    margin-top: 0px;
}
/*modal*/

#contents {
  z-index: 0;
  font-size: 16px;
}
.page-txt {
  margin: 30px 0 0;
  height: 2000px;
}
#modal-open {
  color: #cc0000;
}
/* モーダル コンテンツエリア */
#modal-main {
    display: none;
    width: 500px;
    height: 300px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #666666;
    position:fixed;
    z-index: 2;
}
/* モーダル 背景エリア */
#modal-bg {
    display:none;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    left:0;
            z-index: 1;
}
